# Core data science libraries
numpy
pandas
scikit-learn

# Visualization libraries
matplotlib
seaborn
altair==6.0.0  # <-- needed for Streamlit internals

# Machine learning utilities
joblib

# Excel file handling
openpyxl

# For app deployment
streamlit==1.19.0
